ul.socialButtons li {
  cursor: pointer;
  float: left;
  width: 30px;
  height: 30px;
  background-color: white;
  background-image: url("../images/site-sprites.png");
  /*background-image: url('../images/social_sprites.png');*/
  background-repeat: no-repeat;
  background-size: 50% auto;
  border-right: 1px solid #040707;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -ms-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}


ul.socialButtons li:hover {
  background-color: black;
}

ul.socialButtons li.fb_btn, ul.socialButtons li.fb_btn.invert:hover {
 
 
 
  background-position: 50% 36.35%;
 
 
 
}
ul.socialButtons li.fb_btn:hover, ul.socialButtons li.fb_btn.invert {
  background-position: 50% 40.5%;
}
ul.socialButtons li.tw_btn, ul.socialButtons li.tw_btn.invert:hover {
  background-position: 50% 44.35%;
}
ul.socialButtons li.tw_btn:hover, ul.socialButtons li.tw_btn.invert {
  background-position: 50% 48.5%;
}
ul.socialButtons li.li_btn, ul.socialButtons li.li_btn.invert:hover {
  background-position: 50% 53%;
}
ul.socialButtons li.li_btn:hover, ul.socialButtons li.li_btn.invert {
  background-position: 50% 57.25%;
}
ul.socialButtons li.pi_btn, ul.socialButtons li.pi_btn.invert:hover {
  background-position: 50% 69.5%;
}
ul.socialButtons li.pi_btn:hover, ul.socialButtons li.pi_btn.invert {
  background-position: 50% 73.7%;
}
ul.socialButtons li.be_btn, ul.socialButtons li.be_btn.invert:hover {
  background-position: 50% 60.85%;
}
ul.socialButtons li.be_btn:hover, ul.socialButtons li.be_btn.invert {
  background-position: 50% 65.1%;
}
ul.socialButtons li.ma_btn, ul.socialButtons li.ma_btn.invert:hover {
  background-position: 50% 77.5%;
}
ul.socialButtons li.ma_btn:hover, ul.socialButtons li.ma_btn.invert {
  background-position: 50% 81.65%;
}
ul.socialButtons li.tr_btn, ul.socialButtons li.tr_btn.invert:hover {
  background-position: 50% 94.4%;
}
ul.socialButtons li.tr_btn:hover, ul.socialButtons li.tr_btn.invert {
  background-position: 50% 98.5%;
}


footer .officeListing section {
  float: right;
}
footer .officeListing section:last-of-type {
  float: left;
}
@media (min-width: 640px) {
  footer .officeListing section {
    float: left;
  }
}

footer.homePage section.social ul li {
  width: 50px;
  height: 50px;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}

.loaderBox {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  width: 25px;
  height: 25px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loaderBox .loader {
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-left: 5px solid #ffffff;
  -webkit-animation: spinner 1s infinite linear;
  animation: spinner 1s infinite linear;
}

@-webkit-keyframes spinner { }

button#scrollTop {
  position: fixed;
  backface-visibility: hidden;
  bottom: 0;
  right: 0;
  z-index: 500;
  padding: 0;
  height: 50px;
  width: 50px;
  border: 1px inset black;
  border-right: 0;
  border-bottom: 0;
  background-color: transparent;
  background-image: url("../images/site-sprites.png");
  background-repeat: no-repeat;
  background-size: 24px auto;
  background-position: 50% 6.8%;
  max-width: 0;
  max-height: 0;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -ms-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

button#scrollTop:hover {
  background-color: black;
  background-position: 50% 11%;
}

nav#projectNav ul li .navButton {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 520;
  background-color: white;
  background-image: url("../images/site-sprites.png");
  background-repeat: no-repeat;
  background-size: 24px auto;
  border: 1px solid #040707;
  border-left: 0px;
  border-bottom: 0;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -ms-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
nav#projectNav ul li .navButton.project-back {
  background-position: 47% 86.25%;
}
nav#projectNav ul li .navButton.project-back:hover {
  background-position: 47% 86.1%;
}
nav#projectNav ul li .navButton.project-prev {
  background-position: 40% 15.7%;
}
nav#projectNav ul li .navButton.project-prev:hover {
  background-position: 40% 19.75%;
}
nav#projectNav ul li .navButton.project-next {
  background-position: 50% 23.9%;
  border-bottom: 1px solid #040707;
}
nav#projectNav ul li .navButton.project-next:hover {
  background-position: 50% 28%;
}

/*nav#projectNav ul li:hover .navButton {
  background-color: #e6e6e6;
}*/

nav#projectNav ul li:hover .navButton {
  background-color: black;
}
nav#projectNav ul li:hover .navButton.project-back {
  background-position: 47% 90.5%;
}
nav#projectNav ul li:hover .navButton.project-prev {
  background-position: 40% 19.75%;
}
nav#projectNav ul li:hover .navButton.project-next {
  background-position: 50% 28%;
}

@media (max-width: 639px) {
  nav#projectNav {
    top: 0;
    right: 0;
    left: initial;
    width: 150px;
  }
  nav#projectNav ul li {
    float: left;
  }
  nav#projectNav ul li .navButton {
    border: 0;
    border-left: 1px solid #040707;
    border-bottom: 1px solid #040707;
    /*background-color: transparent;*/
  }
  nav#projectNav ul li .navTitle {
    display: none;
  }
}

#heroBanner {
  font-family: 'Black';
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  /*min-height: 500px;*/
}

#heroBanner h1 {
  font-family: 'Black';
  /*font-size: 2.4em;*/
  /*line-height: 1.1;*/
  color: white;
  letter-spacing: .075em;
  text-transform: uppercase;
  position: absolute;
  z-index: 200;
  top: 25%;
  left: 15px;
  border-bottom: 5px solid white;
 
}

#heroBanner p {
  position: absolute;
  z-index: 200;
  top: 37%;
  left: 15px;
  padding: 0;
  white-space: pre;
  font-family: 'Black';
  font-size: 3.6em;
 
  line-height: 1.2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: .075em;
}

#heroBanner button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -ms-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  z-index: 300;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-bottom: 0;
  background-color: transparent;
  background-image: url("../images/site-sprites.png");
  background-repeat: no-repeat;
  background-size: 24px auto;
  background-position: 50% -1.65%;
}
#heroBanner button:hover {
  background-color: black;
  background-position: 50% 2.5%;
}
@media (min-width: 480px) {
  #heroBanner h1 {
    font-size: 3.6em;
  }
  #heroBanner p {
    font-size: 4.8em;
 
  }
}

@media (min-width: 640px) {
  #heroBanner h1 {
    font-size: 6em;
    font-size: 6vw;
  }
  #heroBanner p {
    font-size: 7.5em;
    font-size: 10vw;
  }
}

@media (min-width: 992px) {
  #heroBanner h1 {
    left: 100px;
    top: 20%;
  }
  #heroBanner p {
    left: 100px;
    top: 43%;
    font-size: 9em;
    font-size: 6vw;
  }
}

/*@media (min-width: 992px) {
  .gridWrapper {
    margin-bottom: 30px;
  }
}
.gridWrapper .grid {
  overflow: hidden;
  *zoom: 1;
  text-align: right;
}*/

.gridWrapper .grid section {
  float: left;
 
  display: inline-block;
 
  width: 100%;
 
  margin-bottom: 30px;
  cursor: pointer;
}
.gridWrapper .grid section:hover {
  /* h2, h3 { text-decoration: underline; } */
}

.gridWrapper .grid section h2 {
  float: left;
  margin: 20px 3px 10px 0;
 
  font-size: 2.2em;
  letter-spacing: .02em;
  font-weight: 300;
}

@media (min-width: 640px) {
  .gridWrapper .grid section:nth-of-type(2), .gridWrapper .grid section:nth-of-type(3) {
 
 
 
 
 
 
 
 
 
    width: 49%;
 
  }
  .gridWrapper .grid section:nth-of-type(2) .imgWrapper, .gridWrapper .grid section:nth-of-type(3) .imgWrapper {
    height: 30em;
    height: 30vw;
  }
  .gridWrapper .grid section:nth-of-type(2) .imgWrapper img, .gridWrapper .grid section:nth-of-type(3) .imgWrapper img {
    min-height: 30em;
    min-height: 30vw;
  }
  .gridWrapper .grid section:nth-of-type(2) {
    margin-right: 2%;
 
 
 
 
 
 
 
 
  }
}

@media (min-width: 992px) {
 
 
 
  .gridWrapper .grid section {
    margin-right: 2%;
  }
  .gridWrapper .grid section:nth-of-type(1) {
 
    width: 49%;
  }
  .gridWrapper .grid section:nth-of-type(1) .imgWrapper {
    height: 30em;
    height: 30vw;
  }
  .gridWrapper .grid section:nth-of-type(1) .imgWrapper img {
    min-height: 30em;
    min-height: 30vw;
  }
  .gridWrapper .grid section:nth-of-type(2), .gridWrapper .grid section:nth-of-type(3) {
    width: 23.5%;
 
  }
  .gridWrapper .grid section:nth-of-type(2) .imgWrapper, .gridWrapper .grid section:nth-of-type(3) .imgWrapper {
    height: 14em;
    height: 14vw;
  }
  .gridWrapper .grid section:nth-of-type(2) .imgWrapper img, .gridWrapper .grid section:nth-of-type(3) .imgWrapper img {
    min-height: 14em;
    min-height: 14vw;
  }
  .gridWrapper .grid section:nth-of-type(3) {
 
    margin-right: 0;
  }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
  .gridWrapper .grid.gridRight section {
    float: right;
    margin-right: 2%;
  }
  .gridWrapper .grid.gridRight section:nth-of-type(1) {
    margin-right: 0;
  }
 
 
 
}

@media (min-width: 640px) {
 
 
 
  .gridWrapper.teamWrapper .grid section {
 
    width: 49%;
 
  }
  .gridWrapper.teamWrapper .grid section .imgWrapper {
    height: 45em;
    height: 45vw;
  }
  .gridWrapper.teamWrapper .grid section .imgWrapper img {
    min-height: 45em;
    min-height: 45vw;
  }
  .gridWrapper.teamWrapper .grid section:nth-of-type(1) {
    margin-right: 2%;
  }
  .gridWrapper.teamWrapper .grid section:nth-of-type(2) {
    margin-right: 0;
  }
  .gridWrapper.teamWrapper .grid section:nth-of-type(3) {
    margin-right: 2%;
  }
  .gridWrapper.teamWrapper .grid.gridRight section:nth-of-type(1) {
    margin-right: 0;
  }
  .gridWrapper.teamWrapper .grid.gridRight section:nth-of-type(2) {
    margin-right: 2%;
  }
  .gridWrapper.teamWrapper .grid.gridRight section:nth-of-type(3) {
    margin-right: 0;
  }
 
 
 
}
@media (min-width: 992px) {
  .gridWrapper.teamWrapper .grid section:nth-of-type(2) {
    margin-right: 2%;
 
  }
  .gridWrapper.teamWrapper .grid section:nth-of-type(3) {
    margin-right: 0;
  }
  .gridWrapper.teamWrapper .grid.gridRight section:nth-of-type(3) {
    margin-right: 2%;
 
 
 
 
  }
  .gridWrapper.teamWrapper .grid section:nth-of-type(1) .imgWrapper {
    height: 30em;
    height: 30vw;
  }
  .gridWrapper.teamWrapper .grid section:nth-of-type(1) .imgWrapper img {
    min-height: 30em;
    min-height: 30vw;
  }
 
 
 
 
 
 
 
 
 
 
 
 
  .gridWrapper.teamWrapper .grid section:nth-of-type(2), .gridWrapper.teamWrapper .grid section:nth-of-type(3) {
    width: 23.5%;
  }
  .gridWrapper.teamWrapper .grid section:nth-of-type(2) .imgWrapper, .gridWrapper.teamWrapper .grid section:nth-of-type(3) .imgWrapper {
    height: 22.5em;
    height: 22.5vw;
  }
  .gridWrapper.teamWrapper .grid section:nth-of-type(2) .imgWrapper img, .gridWrapper.teamWrapper .grid section:nth-of-type(3) .imgWrapper img {
    min-height: 22.5em;
    min-height: 22.5vw;
  }
}

#projectLayout .projectContent h1 {
  /*font-size: 1.65em;*/
  line-height: 1.25em;
  letter-spacing: .075em;
  text-transform: uppercase;
  font-family: 'Black';
  margin-bottom: 40px;
}

#projectLayout .projectContent .projectDetails .socialAccounts ul.socialButtons li:hover {
  border-color: black;
  /*background-color: black;*/
}


/*#projectLayout.caseStudy .projectContent .projectDetails .socialAccounts ul.socialButtons li {
  background-color: transparent;
}
#projectLayout.caseStudy .projectContent .projectDetails .socialAccounts ul.socialButtons li:hover {
  background-color: #e6e6e6;
}*/

@media (max-width: 639px) {
  #projectLayout.caseStudy .projectContent .projectDetails {
    float: none;
    margin-bottom: 50px;
  }
  #projectLayout.caseStudy .projectContent .projectDetails .projectInfo section {
    /*width: 100%;*/
    float: left;
  }
  #projectLayout.caseStudy .projectContent .projectBody {
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  #projectLayout .projectContent h1 {
    font-size: 2em;
  }
}
@media (min-width: 992px) {
  #projectLayout .projectContent h1 {
    font-size: 2.5em;
  }
}

#projectImages section .imageWrapper .imageBox {
  width: 100%;
  height: 40em;
  height: 40vw;
  /*no min height*/
  display: inline-block;
  position: relative;
  overflow: hidden;
}


@media (min-width: 640px) {
  .flexBox4 section, #readAbout section, #relatedProjects section {
    float: left;
    display: inline-block;
    width: 32%;
    margin-right: 2%;
    /*margin-bottom: 0;*/
  }
  .flexBox4 section:nth-of-type(3), #readAbout section:nth-of-type(3), #relatedProjects section:nth-of-type(3) {
    margin-right: 0;
  }
}


#readAbout section {
  height: 40em;
  height: 40vw;
  background-color: #e6e6e6;
}
#readAbout section p {
  display: block;
  /* non-webkit fallback */
  display: -webkit-box;
  line-height: 1;
  height: 48px;
  /* non-webkit fallback */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.1;
}


@media (min-width: 640px) {
  #readAbout section {
    height: 18em;
    height: 18vw;
  }
}
@media (min-width: 992px) {
  #readAbout section {
    height: 14em;
    height: 14vw;
  }
}

#relatedProjects section .imgWrapper {
  width: 100%;
  height: 40em;
  height: 40vw;
  position: relative;
  overflow: hidden;
}

@media (min-width: 640px) {
  #relatedProjects section .imgWrapper {
    height: 18em;
    height: 18vw;
  }
}
@media (min-width: 992px) {
  #relatedProjects section .imgWrapper {
    height: 14em;
    height: 14vw;
  }
}



