<!DOCTYPE html>
<html lang="en" xml:lang="en" ng-app="app">
<head>
    <base href="/" > <!-- Allows for Angular deep-linking -->
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en_US">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <!-- ******************************************* -->
    <title>Zago</title>
    <!-- ******************************************* -->
    <!-- css files -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- /css files -->
    <!-- ******************************************* -->
    <!-- required files -->
    <script type="text/javascript" src="js/lib/polyfills.js"></script>
    <script type="text/javascript" src="js/lib/modernizr.js"></script>
    <script type="text/javascript" src="js/lib/jquery.js"></script>
    <script type="text/javascript" src="js/lib/angular.js"></script>
    <script type="text/javascript" src="js/lib/start_scripts.js"></script>
    <!-- /required files -->
    <!-- ******************************************* -->
    <!-- application files -->
    <script type="text/javascript" src="js/app/main.js"></script>
    <!-- /application files -->
    <!-- ******************************************* -->

</head>

<body id="body" ng-controller="AppCtrl" ng-keyup="keyRelease($event)">
    <div id="container">

        <a ui-sref="home"><img id="siteID" class="siteID" alt="Zago LLC Logo" src="images/zago_logo.png"></a>

        <nav id="mainNav" class="overthrow">
            <div id="menuWrapper">
                <div id="menu">
                    <ul>
                        <li> <a ui-sref="home" href="" ng-class="{active: currentState == 'home'}" title="Home">Zago</a> </li>
                        <li> <a ui-sref="projects" href="" ng-class="{active: currentState == 'projects'}" title="Zago Projects">Projects</a> </li>
                        <li> <a ui-sref="team" href="" ng-class="{active: currentState == 'team'}" title="Meet Z Team">Team</a> </li>
                        <li> <a href="http://zagolovesyou.tumblr.com/" ng-click="toggleMenu(true)" target="_blank" title="Blog Love">Love</a> </li>
                    </ul>
                </div>
                <div class="menuContacts" office-list></div>
            </div>
        </nav>

        <div class="buttonWrapper">
            <button id="menuButton" type="button" ng-click="toggleMenu()"><span id="menuPrompt">CLICK HERE FOR MENU</span></button>
        </div>

        <button id="scrollTop" type="button" ng-click="scrollTop()"></button>

        <div id="pageContent" class="{{pageView}}" ui-view autoscroll="true"><!-- Angular Partials go here --></div>

        <footer id="footer" ng-class="{homePage: pageView == 'homePage', pageLoading: pageLoading}">
            <section class="collaboration">
                <p>Let's work together.</p>
                <p>Come have coffee & say ciao.</p>
                <a href="mailto:info@zagollc.com">info@zagollc.com</a>
            </section>
            <section class="intern">
                <p class="footerCiaoline">Say ciao at <a href="mailto:info@zagollc.com">info@zagollc.com</a></p>
                <p>We take interns in NYC for</p>
                <p>3 to 6 month engagements.</p>
                <p>Inquire at <a href="mailto:intern@zagollc.com">intern@zagollc.com</a></p>
            </section>
            <div class="officeListing" office-list></div>
            <section class="social" social-buttons></section>
        </footer>
    </div>

    
    <!-- ******************************************* -->
    <!-- closing files -->
    <script type="text/javascript" src="js/lib/end_scripts.js"></script>
    <!-- /closing files -->
    <!-- ******************************************* -->
</body>
</html>
