/*************************************************/
/* Colors
/*************************************************/

$grey : #e6e6e6;
$lightgrey : #f7f7f7;
$darkgrey: #040707;
$tumblrgrey: #555656; 

$blue: #00ffff;
$yellow: #ffff00;
$pink: #ff00ff;
$green: #00ff00;
$red: red;

$lightblue : #5ad3cf;

$menuButtonColors: $blue, $yellow, $pink, $green;

/*************************************************/
/* Speeds
/*************************************************/

$slowSpeed: .7s;
$normalSpeed: .5s;
$fastSpeed: .3s;

$primaryEase: ease-out;


/*************************************************/
/* Functions
/*************************************************/

@function vunit($input, $width, $height){
  @if unit($width) != px or unit($height) != px {
    @error "@function vunit() dimensions should contain a px unit. +[" + $width + ', ' + $height +']';
  }
  
  // Store $input unit
  $unit: unit($input);
  // Remove unit from $input and convert to ratio
  $ratio: $input / ($input * 0 + 1) / 100;
  // Calc and store return values
  $widthVal: floor($width * $ratio);
  $heightVal: floor($height * $ratio);
  
  $isPortrait: $width < $height;
  
  @if $unit == vw { @return $widthVal; }
  @else if $unit == vh { @return $heightVal; }
  
  @else if $unit == vmax {
    @if $isPortrait { @return $heightVal; }
    @else { @return $widthVal; }
  }
  
  @else if $unit == vmin {
    @if $isPortrait { @return $widthVal; }
    @else { @return $heightVal; }
  }
}

/*************************************************/
/* Mixins
/*************************************************/

@mixin breakpoint($point, $max : false) {
  @if $point == oversize { @media (min-width: 2200px) { @content; } }
  @else if $point == superwide { @media (min-width: 1800px) { @content; } }
  @else if $point == wide { @media (min-width: 1400px) { @content; } }
  @else if $point == large { @media (min-width: 1200px) { @content; } }
  @else if $point == desktop { @media (min-width: 992px) { @content; } }
  @else if $point == tablet { @media (min-width: 768px) { @content; } }
  @else if $point == smallTablet { @media (min-width: 640px) { @content; } }
  @else if $point == mobile { @media (min-width: 480px) { @content; } }
  @else if $point == mini { @media (min-width: 320px) { @content; } }
  @else if $point == landscape { @media (orientation : landscape) { @content; } }
  @else if $max == true { @media (max-width: $point) { @content; } }
  @else { @media (min-width: $point) { @content; } }
}

@mixin breakheight($point, $min : false) {
  @if $point == tiny { @media (max-height: 400px) { @content; } }
  @if $point == small { @media (max-height: 640px) { @content; } }
  @if $point == large { @media (max-height: 767px) { @content; } }
  @if $point == bigscreen { @media (min-height: 768px) { @content; } }
  @else if $min == true { @media (min-height: $point) { @content; } }
  @else { @media (max-height: $point) { @content; } }
}

@mixin columns($count : 0, $gap : 0px, $rule : 0) {
  column-count: $count;
  column-gap: $gap;
  column-rule: $rule;
}

@mixin viewport($property, $value){
  
  // Check that the $value has a unit
  @if unitless($value){
    // Throw error if the $value is unitless
    @error "Viewport values include a specified unit. Please check your input [" + $value + "]";
  } @else {
    
    $unit : unit($value);
    $units: (vw, vh, vmin, vmax);
    
    // Check that the unit is a V-unit
    @if index($units, $unit) == null {
      // Throw error if a V-unit was not used
      @error "Viewport values include a specified V-unit. Please check your input [" + $value + "]";
    
    // V-Unit to PX logic
    } @else {

      // iOS Devices
      ///////////////////////////////////////////////////

      // iPhone3-4(s) with portrait orientation
      @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 1) // iPhone 3
        and (-webkit-max-device-pixel-ratio: 2) // iPhone 4
        and (orientation: portrait) {
          #{$property}: vunit($value, 320px, 480px);
      }

      // iPhone3-4(s) with landscape orientation
      @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 480px)
        and (-webkit-min-device-pixel-ratio: 1) // iPhone 3
        and (-webkit-max-device-pixel-ratio: 2) // iPhone 4
        and (orientation: landscape) {
          #{$property}: vunit($value, 480px, 320px);
      }

      // iPhone5(s) with portrait orientation
      @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 568px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: portrait) {
          #{$property}: vunit($value, 320px, 568px);
      }

      // iPhone5(s) with landscape orientation
      @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 568px)
        and (-webkit-min-device-pixel-ratio: 2)
        and (orientation: landscape) {
          #{$property}: vunit($value, 568px, 320px);

      }
  
      // iPads with landscape orientation (1-2 + mini).
      @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation:portrait)
        and (-webkit-min-device-pixel-ratio: 1) {
          #{$property}: vunit($value, 768px, 1024px);
      }
       
      // iPads with landscape orientation (1-2 + mini).
      @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (orientation:landscape)
        and (-webkit-min-device-pixel-ratio: 1) {
          #{$property}: vunit($value, 1024px, 768px);
      }

      // Android Devices
      ///////////////////////////////////////////////////

      // Older Generic devices with portrait orientation
      // (heigher gen devices seem tend take have px ratio 3)
      @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 533px)
        and (-webkit-min-device-pixel-ratio: 1)
        and (-webkit-max-device-pixel-ratio: 2)
        and (orientation: portrait) {
          #{$property}: vunit($value, 320px, 533px);
      }

      // Older Generic devices with landscape orientation
      // (heigher gen devices seem tend take have px ratio 3)
      @media only screen 
        and (min-device-width: 320px) 
        and (max-device-width: 533px)
        and (-webkit-min-device-pixel-ratio: 1)
        and (-webkit-max-device-pixel-ratio: 2)
        and (orientation: landscape) {
          #{$property}: vunit($value, 533px, 320px);
      }

      // Newer Generic devices with portrait orientation
      // (heigher gen devices seem tend take have px ratio 3)
      @media only screen 
        and (min-device-width: 360px) 
        and (max-device-width: 640px)
        and (-webkit-min-device-pixel-ratio: 1)
        and (-webkit-max-device-pixel-ratio: 2)
        and (orientation: portrait) {
          #{$property}: vunit($value, 360px, 640px);
      }

      // Newer Generic devices with landscape orientation
      // (heigher gen devices seem tend take have px ratio 3)
      @media only screen 
        and (min-device-width: 360px) 
        and (max-device-width: 640px)
        and (-webkit-min-device-pixel-ratio: 1)
        and (-webkit-max-device-pixel-ratio: 2)
        and (orientation: landscape) {
          #{$property}: vunit($value, 640px, 360px);
      }

      // Asus Nexus 7 with portrait orientation
      @media screen 
        and (min-device-width: 601px) 
        and (max-device-width: 906px) 
        and (-webkit-min-device-pixel-ratio: 1.331) 
        and (-webkit-max-device-pixel-ratio: 1.332) 
        and (orientation: portrait) {
          #{$property}: vunit($value, 601px, 906px);
      }

      // Asus Nexus 7 with landscape orientation
      @media screen 
        and (min-device-width: 601px) 
        and (max-device-width: 906px) 
        and (-webkit-min-device-pixel-ratio: 1.331) 
        and (-webkit-max-device-pixel-ratio: 1.332) 
        and (orientation: landscape) {
          #{$property}: vunit($value, 906px, 601px);
      }

      // Kindle Fire HD 7" with portrait orientation
      // (heigher gen devices seem tend take have px ratio 3)
      @media only screen 
        and (min-device-width: 800px) 
        and (max-device-width: 1280px) 
        and (-webkit-min-device-pixel-ratio: 1) 
        and (-webkit-max-device-pixel-ratio: 2) 
        and (orientation: portrait) {
      }

      // Kindle Fire HD 7" with landscape orientation
      // (heigher gen devices seem tend take have px ratio 3)
      @media only screen 
        and (min-device-width: 800px) 
        and (max-device-width: 1280px) 
        and (-webkit-min-device-pixel-ratio: 1) 
        and (-webkit-max-device-pixel-ratio: 2) 
        and (orientation: landscape) {

      }


      
      // Set Base value
      // (wrap in media query to force placement at end of cascade for devices that support v-units)
      ///////////////////////////////////////////////////
      @media all { #{$property}: $value; }

    }
  }
}









/*************************************************/
