/*************************************************/
/* Colors
/*************************************************/

$grey : #e6e6e6;
$lightgrey : #f7f7f7;
$darkgrey: #040707;
$tumblrgrey: #555656; 

$blue: #00ffff;
$yellow: #ffff00;
$pink: #ff00ff;
$green: #00ff00;
$red: red;

$lightblue : #5ad3cf;

$menuButtonColors: $blue, $yellow, $pink, $green;

/*************************************************/
/* Speeds
/*************************************************/

$slowSpeed: .7s;
$normalSpeed: .5s;
$fastSpeed: .3s;

$primaryEase: ease-out;

/*************************************************/
/* Mixins
/*************************************************/

@mixin breakpoint($point, $max : false) {
  @if $point == oversize { @media (min-width: 2200px) { @content; } }
  @else if $point == superwide { @media (min-width: 1800px) { @content; } }
  @else if $point == wide { @media (min-width: 1400px) { @content; } }
  @else if $point == large { @media (min-width: 1200px) { @content; } }
  @else if $point == desktop { @media (min-width: 992px) { @content; } }
  @else if $point == tablet { @media (min-width: 768px) { @content; } }
  @else if $point == smallTablet { @media (min-width: 640px) { @content; } }
  @else if $point == mobile { @media (min-width: 480px) { @content; } }
  @else if $point == mini { @media (min-width: 320px) { @content; } }
  @else if $point == landscape { @media (orientation : landscape) { @content; } }
  @else if $max == true { @media (max-width: $point) { @content; } }
  @else { @media (min-width: $point) { @content; } }
}

@mixin breakheight($point, $min : false) {
  @if $point == tiny { @media (max-height: 400px) { @content; } }
  @if $point == small { @media (max-height: 640px) { @content; } }
  @if $point == large { @media (max-height: 767px) { @content; } }
  @if $point == bigscreen { @media (min-height: 768px) { @content; } }
  @else if $min == true { @media (min-height: $point) { @content; } }
  @else { @media (max-height: $point) { @content; } }
}

@mixin transition($type, $duration : .5s, $easing : ease-out) {
    transition: $type $duration $easing;
}

@mixin translate($x: 0, $y: 0) {
	transform: translate($x, $y);
}

@mixin transform($action, $origin) {
  transform: $action;
  transform-origin: $origin;
}

@mixin columns($count : 0, $gap : 0px, $rule : 0) {
  column-count: $count;
  column-gap: $gap;
  column-rule: $rule;
}

@mixin buggyfill($values) {
  content: 'viewport-units-buggyfill; ' + $values;
}

/*************************************************/

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes beacon {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loader-background {
  0%   { background: rgba(nth($menuButtonColors, 1), .3); }
  25%   { background: rgba(nth($menuButtonColors, 2), .3); }
  50%   { background: rgba(nth($menuButtonColors, 3), .3); }
  75%   { background: rgba(nth($menuButtonColors, 4), .3); }
  100%   { background: rgba(nth($menuButtonColors, 1), .3); }
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  5% { transform: translateX(100%); }

  95% { transform: translateX(-100%); }
  100% { transform: translateX(-100%); }

}
