/*
Error: Invalid CSS after "	  			color": expected ";", was ": black;"
        on line 363 of /Users/jay/Documents/zago/components/sass/style.scss

358: 			color: white;
359: 			&.marquee {
360: 				display: block;
361: 				font-size: 1.4em;
362: 				font-family: "Black",
363: 	  			color: black;
364: 				animation: marquee 7.5s infinite;
365: 				height: 100%;
366: 				padding: 5% 0;
367: 
368: 

Backtrace:
/Users/jay/Documents/zago/components/sass/style.scss:363
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:1167:in `expected'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:761:in `block in try_declaration'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:1141:in `call'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:1141:in `rethrow'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:766:in `try_declaration'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:712:in `declaration_or_ruleset'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:712:in `declaration_or_ruleset'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:712:in `declaration_or_ruleset'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:636:in `ruleset'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/engine.rb:268:in `render'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/compass-1.1.0.alpha.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/compass-1.1.0.alpha.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/compass-1.1.0.alpha.3/lib/compass/commands/base.rb:18:in `execute'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/compass-1.1.0.alpha.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/compass-1.1.0.alpha.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/compass-1.1.0.alpha.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/compass-1.1.0.alpha.3/bin/compass:30:in `block in <top (required)>'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/compass-1.1.0.alpha.3/bin/compass:44:in `call'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/gems/compass-1.1.0.alpha.3/bin/compass:44:in `<top (required)>'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/bin/compass:23:in `load'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/bin/compass:23:in `<main>'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/bin/ruby_executable_hooks:15:in `eval'
/Users/jay/.rvm/gems/ruby-1.9.3-p551/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"	  			color\": expected \";\", was \": black;\"\A         on line 363 of /Users/jay/Documents/zago/components/sass/style.scss\A \A 358: 			color: white;\A 359: 			&.marquee {\A 360: 				display: block;\A 361: 				font-size: 1.4em;\A 362: 				font-family: \"Black\",\A 363: 	  			color: black;\A 364: 				animation: marquee 7.5s infinite;\A 365: 				height: 100%;\A 366: 				padding: 5% 0;\A 367: \A 368: "; }
